<div class="home-page">

    <!-- Introduction -->

    <div class="introduction">
        <!-- <div class="mask">
        </div> -->
        <div class="intro-content">
            <!-- <h1>HELLO<br>
            I'M <span>JOHN</span> DOE</h1> -->
            <h1>
                TheRealCarlos.COM
            </h1>
            <p class="slogan-text text-capitalize">Software Developer</p>

        </div>

        <!-- Social Media Icons [ END ] -->
    </div>

    <!-- Navigation Menu -->

    <div class="menu">g
        <div class="profile-btn">
            <img alt="" src="assets/img/about.jpg" style="width:100%; height:100%;">
            <div class="mask">
            </div>
            <div class="heading">
                <i class="ion-ios-people-outline hidden-xs"></i>
                <h2><a href="#/about-me">About Me</a></h2>
            </div>
        </div>

        <!-- Single Navigation Menu Button -->

        <div class="portfolio-btn">
            <img alt="" src="assets/img/portfolio.jpg">
            <div class="mask">
            </div>
            <div class="heading">
                <i class="ion-ios-briefcase-outline hidden-xs"></i>
                <h2><a href="#/portfolio">Portfolio</a></h2>
            </div>
        </div>

        <!-- Single Navigation Menu Button [ END ]  -->

        <div class="service-btn">
            <img alt="" src="assets/img/service.jpg">
            <div class="mask">
            </div>
            <div class="heading">
                <i class="ion-ios-lightbulb-outline hidden-xs"></i>
                <h2><a href="#/services">Services</a></h2>
            </div>
        </div>

        <!-- Single Navigation Menu Button [ END ]  -->

        <div class="contact-btn">
            <img alt="" src="assets/img/contact.jpg">
            <div class="mask">
            </div>
            <div class="heading">
                <i class="ion-ios-chatboxes-outline hidden-xs"></i>
                <h2><a href="#/contact">Contact</a></h2>
            </div>
        </div>

        <!-- Single Navigation Menu Button [ END ]  -->

    </div>
</div>
